<%=
  caption = data_table_caption('People', button_group_div(add_button((svg_person_plus), new_person_path(membership_id: @membership.id))) )
  data_table(caption, data_item_row(%w(action last_name first_name dob phone email).map(&:titlecase))) do |s|
    membership.people.each do |person|
      s << field_label_row([person_actions(person), person.last_name, person.first_name, person.dob, phones_links(person), emails_links(person)])
    end
  end
%>

<div id="<%= dom_id membership %>">
  <%=
  #caption = data_table_caption('Membership', member_actions(membership).first)
  caption = data_table_caption('Info', nil)
  data_table(caption, nil) do |s|
    s << labeled_data_row('Status', membership.status.titleize)
    s << labeled_data_row('Start Date', membership.start_date)
    s << labeled_data_row('Boats', membership.boats)
    s << labeled_data_row('Slip', membership.slip_assignment)
    s << labeled_data_row('Children', membership.children)
    s << labeled_data_row('End Date', membership.end_date)

    s << labeled_data_row('', member_actions(membership))
  end
%>
</div>

<div>
<%=
  caption = data_table_caption('Invoices', add_button('New Invoice', new_invoice_path(membership_id: @membership.id)))
  headers = data_item_row(%w(action status posted_date due_date balance_due).map(&:titlecase))
  data_table(caption, headers) do |s|
    membership.invoices.each do |invoice|
      s << field_label_row([invoice_actions(invoice), invoice.status, invoice.posted_date, invoice.due_date, invoice.balance_due])
    end
  end
%>
</div>

