<div id="<%= dom_id membership %>">

<%=
    data_table(nil, nil) do |s|
      s << labeled_data_row('Status', membership.status.titleize)
      s << labeled_data_row('Start Date', membership.start_date)
      s << labeled_data_row('End Date', membership.end_date)
      s << labeled_data_row('Boats', membership.boats)
      s << labeled_data_row('Slip', membership.slip_assignment)
      s << labeled_data_row('Children', membership.children)

      s << labeled_data_row('', member_actions(membership))
    end
%>
</div>
