<div id="<%= dom_id membership %>">
<%=
  data_table('People', data_item_row(%w(last_name first_name dob birth_year).map(&:titlecase))) do |s|
    membership.people.each do |person|
      s << field_label_row([person_actions(person), person.last_name, person.first_name, person.dob, person.birth_year])
    end
    s << field_label_row([
      edit_button('Add New Person', new_person_path(membership_id: @membership.id))
    ])
  end
%>

<%=
  data_table('Info', nil) do |s|
    s << labeled_data_row('Status', membership.status.titleize)
    s << labeled_data_row('Start Date', membership.start_date)
    s << labeled_data_row('Boats', membership.boats)
    s << labeled_data_row('Slip', membership.slip_assignment)
    s << labeled_data_row('Children', membership.children)
    s << labeled_data_row('End Date', membership.end_date)

    s << labeled_data_row('', member_actions(membership))
  end
%>
  
<%=
  data_table('Invoices', data_item_row(%w(status posted_date due_date balance_due).map(&:titlecase))) do |s|
    membership.invoices.each do |invoice|
      s << field_label_row([invoice_actions(invoice), invoice.status, invoice.posted_date, invoice.due_date, invoice.balance_due])
    end
    s << field_label_row([ edit_button('Add New Invoice', new_invoice_path(membership_id: @membership.id))])
  end
%>
</div>
