<p style="color: green"><%= notice %></p>

<%= page_caption "Members" %>

<%=
  caption = data_table_caption('', button_group_div(add_button((svg_person_plus + "New Member"))) )
  header = field_label_row(['', '#', 'Status','Start','Names','Boats','Slip','Children','Resigned', updated_lbl])
  data_table(caption, header) do |s|
    if @memberships.empty?
      flash[:notice] = 'No matching members found.'
      nil
    else
      @memberships.each  do |member| 
      s << data_item_row([
            membership_actions(member),
            member.id,
            member.status,
            member.start_date,
            '-',
            member.boats,
            member.slip_assignment,
            member.children,
            member.end_date,
            updated_by_col(member),
            ])
        end
    end
  end  
%>