<div id="<%= dom_id person %>">

  <%=
    data_table('Info', nil) do |s|
      s << labeled_data_row('Membership', person.membership_id)
      s << labeled_data_row('First Name', person.first_name)
      s << labeled_data_row('Last Name', person.last_name)
      s << labeled_data_row('DoB', person.dob.present? ? person.dob : person.birth_year)
    end
  %>

</div>
