
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">  
    <h2 class="display-5 fw-bold">OSYC Membership Tracker</h2>
    <p class="col-md-8 fs-4">Term Project for CSC-4710.</p>
    <hr class="my-4">
    <p class="lead">Oconee Sailing and Yacht Club<br>Lake Sinclair, Milledgeville, Georgia</p>
  </div>
</div>


<p>Host: <%= `hostname -a` %></p>

