/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");


/* 
	make tables min width instead of 100% width
	https://jsfiddle.net/5pm33a5x/253/ 
	https://stackoverflow.com/a/26983473
*/

table {
  /* override Bootstrap's width */
  width: inherit !important;
}

tr {}
td, th {
  width: auto;
  border: 1px solid #eee;
}
td.min, th.min {
  width: 1% !important;
  white-space: nowrap !important;
}