<div id="<%= dom_id charge %>">
  <p>
    <strong>Invoice:</strong>
    <%= charge.invoice_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= charge.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= charge.price %>
  </p>

</div>
