<% # <!-- Adapted from https://human-se.github.io/rails-demos-n-deets-2020/demo-bootstrap-alerts/ --> %>

<% flash.each do |key, message| %>
  <% next unless message && [:error, :alert, :warn, :warning, :notice, :success].include?(key.to_sym) %>
  <div class=container>
	  <div class="alert <%= flash_class(key) %> alert-dismissible fade show" role="alert">
	  	<% if [:error, :alert, :warn, :warning].include?(key.to_sym) %> <h4 class="alert-heading"><%= key.capitalize %>:</h4> <% end %>
	    <strong><em><%= message %></em></strong>
	    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
  </div>
<% end %>
<% flash.clear %>